
<% @tweets.each do |tweet| %>
  <div class="Tweet row clearfix">
    <h2>
      <%= link_to tweet.twet, tweet%><br>
      <small class="author">submitted <%= time_ago_in_words(tweet.created_at) %> by <%= tweet.user.name %></small>
    </h2>

    <div class="btn-group">
      <%= link_to Like_tweet_path(tweet), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        LIKE
        <%= tweet.get_upvotes.size %>
      <% end %>
      <%= link_to Dislike_tweet_path(tweet), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        DISLIKE
        <%= tweet.get_downvotes.size %>
      <% end %>
    </div>

  </div>
<% end %>
